h1{ background-color: red;
    color: white;
    text-align: center;
}
.content-coffee{
    color: green;
    text-align: right;
    line-height: 4px;
}
.table-price {
    width: 595px;
    height: 320px;
    border: 1px solid #444;
}